<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.tsystems.tsproject.sbb.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/administrator/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AdministratorServlet</servlet-name>
        <display-name>AdministratorServlet</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tsproject.sbb.servlet.administrator.AdminRedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <display-name>AdminLogin</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tsproject.sbb.servlet.administrator.AdminAuthorizationServlet</servlet-class>
        <init-param>
            <param-name>login</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>qwerty</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <display-name>AdminLogout</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tsproject.sbb.servlet.administrator.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminActionResolver</servlet-name>
        <display-name>AdminActionResolver</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tsproject.sbb.servlet.administrator.AdminActionResolverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewStation</servlet-name>
        <display-name>CreateNewStation</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tsproject.sbb.servlet.administrator.CreateNewStationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllStations</servlet-name>
        <display-name>ViewAllStations</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tsproject.sbb.servlet.administrator.ViewAllStationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewTrain</servlet-name>
        <display-name>CreateNewTrain</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tsproject.sbb.servlet.administrator.CreateNewTrainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTrain</servlet-name>
        <display-name>SearchTrain</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tsproject.sbb.servlet.administrator.SearchTrainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTrainStop</servlet-name>
        <display-name>AddTrainStop</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tsproject.sbb.servlet.administrator.AddNewTrainStopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllTrains</servlet-name>
        <display-name>ViewAllTrains</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tsproject.sbb.servlet.administrator.ViewAllTrainsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommonActionResolver</servlet-name>
        <display-name>CommonActionResolver</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tsproject.sbb.servlet.common.CommonActionResolverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStationServlet</servlet-name>
        <display-name>SearchStationServlet</display-name>
        <servlet-class>ru.tsystems.tsproject.sbb.servlet.common.SearchStationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministratorServlet</servlet-name>
        <url-pattern>/administrator/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/authorization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminActionResolver</servlet-name>
        <url-pattern>/administrator/AdminActionResolver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewStation</servlet-name>
        <url-pattern>/administrator/station/CreateNewStation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllStations</servlet-name>
        <url-pattern>/administrator/station/ViewAllStations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewTrain</servlet-name>
        <url-pattern>/administrator/train/CreateNewTrain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTrain</servlet-name>
        <url-pattern>/administrator/train/SearchTrain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTrainStop</servlet-name>
        <url-pattern>/administrator/train/AddNewTrainStop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllTrains</servlet-name>
        <url-pattern>/administrator/train/ViewAllTrains</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommonActionResolver</servlet-name>
        <url-pattern>/CommonAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStationServlet</servlet-name>
        <url-pattern>/common/SearchStation</url-pattern>
    </servlet-mapping>
</web-app>
