<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>AdministratorServlet</servlet-name>
        <display-name>AdministratorServlet</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tsproject.sbb.servlet.AdministratorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminActionResolver</servlet-name>
        <display-name>AdminActionResolver</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tsproject.sbb.servlet.AdminActionResolver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewStation</servlet-name>
        <display-name>CreateNewStation</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tsproject.sbb.servlet.CreateNewStation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllStations</servlet-name>
        <display-name>ViewAllStations</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tsproject.sbb.servlet.ViewAllStations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministratorServlet</servlet-name>
        <url-pattern>/administrator/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminActionResolver</servlet-name>
        <url-pattern>/administrator/AdminActionResolver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewStation</servlet-name>
        <url-pattern>/administrator/station/CreateNewStation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllStations</servlet-name>
        <url-pattern>/administrator/station/ViewAllStations</url-pattern>
    </servlet-mapping>
</web-app>
